<!--ゲーム画面用-->

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/game.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/game-script.js') }}"></script>
    <title>ニートっち</title>
</head>
<body>
    <div class="main-screen">
        <img src="static/image/door.jpg" class="door-image">
        <div class="state-box">
            <table class="state-table">
                <tr>
                    <th>日にち</th>
                    <td>10日目 {{ time }}</td>
                </tr>
                <tr>
                    <th>所持金</th>
                    <td>{{ money }}円</td>
                </tr>
            </table>
        </div>
        <div class="confi-box">
            <ul class="confi-list">
                <li>
                    <form action="/logout">
                        <input type="submit" value="ログアウト" class="game-button" id="logout">
                    </form>
                </li>
                <li>
                    <input type="submit" value="セーブ" class="game-button" id="save">
                </li>
            </ul>
        </div>
        <div class="action-box">
            <ul class="action-list">
                <li>
                    <input type="submit" value="食事を作る" class="game-button" id="feed">
                </li>
                <li>
                    <input type="submit" value="物を買う" class="game-button" id="buy">
                </li>
                <li>
                    <input type="submit" value="話す" class="game-button" id="talk">
                </li>
                <li>
                    <input type="submit" value="掃除" class="game-button" id="clean">
                </li>
                <li>
                    <form action="/work">
                        <input type="submit" value="仕事にいく" class="game-button" id="work">
                    </form>
                    <form action="/sleep">
                        <input type="submit" value="寝る" class="game-button" id="sleep">
                    </form>
                </li>
            </ul>
        </div>

        <div class="action-select-box">
            <form action="/feed">
                <select name="food_id" id="food-select"  class="select-list" size="5">
                    <option value="food1">選択肢のサンプル1(10円)</option>
                    <option value="food2">選択肢のサンプル2(20円)</option>
                    <option value="food3">選択肢のサンプル3(30円)</option>
                    <option value="food4">選択肢のサンプル4(40円)</option>
                    <option value="food5">選択肢のサンプル5(50円)</option>
                </select>
            </form>
            <form action="/buy">
                <select name="buy_id" id="buy-select" class="select-list" size="5">
                    <option value="buy1">選択肢のサンプル1(100円)</option>
                    <option value="buy2">選択肢のサンプル2(200円)</option>
                    <option value="buy3">選択肢のサンプル3(300円)</option>
                    <option value="buy4">選択肢のサンプル4(400円)</option>
                    <option value="buy5">選択肢のサンプル5(500円)</option>
                </select>
            </form>
            <form action="/talk">
                <select name="talk_id" id="talk-select" class="select-list"  size="5">
                    <option value="talk1">選択肢のサンプル1</option>
                    <option value="talk2">選択肢のサンプル2</option>
                    <option value="talk3">選択肢のサンプル3</option>
                    <option value="talk4">選択肢のサンプル4</option>
                    <option value="talk5">選択肢のサンプル5</option>
                </select>
            </form>
        </div>
        <div class="balloon2-top">
            <p class="neet-coment">こんにちは。これは例です。 {{ neet_answer }}</p>
        </div>
        疲労度：{{ fatigue }}<br>
        <!--直前の行動記録用-->
        {{ message }}
    </div>
</body>
</html>